.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item + .main-nav__item {
  margin-left: 16px;
}

.main-nav__item--active {
  opacity: 0.6;
}

.main-nav__link {
  color: $color-white;
}

.main-nav__toggle {
  @include breakpoint(medium) {
    display: none;
  }
}
