.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: grid;
  place-content: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition:
    opacity 400ms ease-in,
    transform 400ms ease-in,
    visibility 400ms ease-in;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal--active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;

  pointer-events: auto;
}

.modal__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__content {
  width: 600px;
  padding: 40px;

  background-color: $color-white;
}

.modal__close-btn {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 1;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.modal--responsive {
  .modal__content {
    width: 100%;
  }
}

.modal--fit-content {
  .modal__content {
    width: auto;
  }
}

.modal--no-scale {
  transform: none;
}

.modal--preload {
  transition: none;
}
