<header class="page__header header @@if (context.mod) { header--@@mod }">
  <div class="header__container container">
    <a href="./index.html" class="header__logo">
      Логотип
    </a>

    <nav class="header__nav main-nav">
      <button type="button" class="main-nav__toggle" aria-pressed="false">
        Переключатель отображения меню
      </button>

      <ul class="main-nav__list">
        <li class="main-nav__item @@if (context.headerActiveLinkIndex === 0) { main-nav__item--active }">
          <a href="#" class="main-nav__link">Страница 1</a>
        </li>
        <li class="main-nav__item @@if (context.headerActiveLinkIndex === 1) { main-nav__item--active }">
          <a href="#" class="main-nav__link">Страница 2</a>
        </li>
        <li class="main-nav__item @@if (context.headerActiveLinkIndex === 2) { main-nav__item--active }">
          <a href="#" class="main-nav__link">Страница 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
